<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header %}
    <div id="admin-header-menu"
         style="height: 50px; background-color: lightgrey; z-index: 10000; position: fixed; top: 0px; width: 100%">
        <nav class="header-menu">

            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('manage_posts') }}">Posts</a>
                </li>
                <li>
                    <a href="{{ path('manage_tags') }}">Tags</a>
                </li>
                <li>
                    <a href="{{ path('manage_comments') }}">Comments</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('show_all_users') }}">Users</a>
                    </li>
                {% endif %}

                <li>
                    <a href="{{ path('homepage') }}">To blog</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}" class="navbar-link">Logout</a>
                </li>
            </ul>


        </nav>
    </div>
    <div style="margin-top: 50px"></div>

{% endblock %}
<div class="admin-base-body center-block">
    {% block body %}
    {% endblock %}
</div>


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
    <script type="text/javascript">
        // create the back to top button
        $('body').prepend('<a href="#" class="back-to-top"><img src="{{ asset('uploads/images/arrow-up.png') }}"></a>');

        var amountScrolled = 1000;

        $(window).scroll(function () {
            if ($(window).scrollTop() > amountScrolled) {
                $('a.back-to-top').fadeIn('slow');
            } else {
                $('a.back-to-top').fadeOut('slow');
            }
        });

        $('a.back-to-top, a.simple-back-to-top').click(function () {
            $('html, body').animate({
                scrollTop: 0
            }, 700);
            return false;
        });
    </script>
{% endblock %}
</body>
</html>