{% for comment in comments %}

    <table class="table table-hover blog-article">
        <tr>
            <td class="bg-info" style="width: 5%">
                {{ comment.id }}
            </td>
            <td>
                {% if comment.post.webPath is not null %}
                    <img src="{{ comment.post.webPath | imagine_filter('small_thumb') }}" alt="image">
                {% endif %}

            </td>
            <td style="width: 20%">
                <span class="text-primary">Post:</span><br>
                {{ comment.post.title }}

            </td>
            <td style="width: 20%; background-color: whitesmoke">
                <span class="text-primary"><span class="text-danger">{{ comment.user.username }}
                        : </span> <br>{{ comment.text }}</span>
            </td>
            <td style="width: 20%">
                <span>Created:</span><br>
                <span class="text-primary">{{ comment.createdAt|date('d M Y') }}
                    at {{ comment.createdAt|date('H:m') }}</span>
            </td>
            <td style="width: 20%">
                <span>Updated:</span><br>
                {% if comment.updatedAt is not null %}
                    <span class="text-primary">{{ comment.updatedAt|date('d M Y') }}</span>
                {% else %}
                    <span class="text-primary">Never</span>
                {% endif %}
            </td>
            <td style="width: 5%">
                {% if is_granted('edit', comment) %}
                    <a href="{{ path('edit_comment', {'id': comment.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                {% endif %}

            </td>
            <td style="width: 5%">
                {% if is_granted('remove', comment) %}
                    {{ form_start(deleteForms[comment.id], {attr : {onsubmit: 'return confirm("Are you sure?");' }}) }}
                    {{ form_widget(deleteForms[comment.id].submit) }}
                    {{ form_end(deleteForms[comment.id]) }}
                {% endif %}

            </td>
        </tr>

    </table>



{% endfor %}

{% if nextPageUrl %}
    <div class="pagination" style="display: none">
        <span class="next-page">
            <a href="{{ nextPageUrl }}">&gt;</a>
        </span>
    </div>
{% endif %}