{% for tag in tags %}

    <table class="table table-hover blog-article">
        <tr>
            <td style="width: 3%">
                {{ tag.id }}
            </td>

            <td style="width: 20%">
                <span>
                    {{ tag.name }}
                </span>
            </td>
            <td style="width: 5%">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('edit_tag', {'id': tag.id}) }}">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                {% else %}
                    <span class="text-danger">access denied</span>
                {% endif %}

            </td>
            <td style="width: 5%">
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_start(deleteForms[tag.id], {attr : {onsubmit: 'return confirm("Are you sure?");' }}) }}
                    {{ form_widget(deleteForms[tag.id].submit) }}
                    {{ form_end(deleteForms[tag.id]) }}
                {% else %}
                    <span class="text-danger">access denied</span>
                {% endif %}

            </td>
        </tr>

    </table>

{% endfor %}

{% if nextPageUrl %}
    <div class="pagination" style="display: none">
        <span class="next-page">
            <a href="{{ nextPageUrl }}">&gt;</a>
        </span>
    </div>
{% endif %}