{% extends '::base.html.twig' %}
{% block body %}
    <div class="search-results-container">
        <h1>Posts with tag '{{ tag.name }}'</h1>
        {% if tag.posts is empty %}
            <h2>
                Sorry, there are no posts associated with tag <span class="text-danger">'{{ tag.name }}'</span>
            </h2>
        {% endif %}
        {% if tag.posts is not empty %}
            {% for post in tag.posts %}
                <div class="clearfix search-result">
                    <div class="pull-left" style="width: 200px; padding-top: 30px;">
                        {% if post.webPath is not null %}
                            <img src="{{ post.webPath | imagine_filter('small_thumb') }}" alt="image">
                        {% endif %}
                    </div>
                    <div class="pull-right" style="width: 500px">
                        <h3>
                            {{ post.title }}
                            <div class="rating-container rating-gly-star" data-content="">
                                <div class="rating-stars" style="width: {{ postRating(post) * 20 }}%" data-content=""></div>
                            </div>
                        </h3>
                        {{ post.text|slice(0, 200)|raw }}...<br>

                        <div class="read-more pull-right">
                            <a href="{{ path('show_post', { 'slug': post.slug }) }}">
                                Read more <i class="glyphicon glyphicon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>


{% endblock %}