{% extends '::admin_base.html.twig' %}
{% block body %}
    <h2>
        Total users: <span class="text-danger">{{ users|length }}</span>
    </h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles.0 }}</td>
                <td><a href="{{ path('admin_edit_user', {'id': user.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a></td>
                <td>
                    {{ form_start(deleteForms[user.id], {attr : {onsubmit: 'return confirm("Are you sure?");' }}) }}
                    {{ form_widget(deleteForms[user.id].submit) }}
                    {{ form_end(deleteForms[user.id]) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}