{% extends 'base.html.twig' %}
{% block body %}
<div class="body-container center-block" id="single-post-container">
    <h1 class="text-center">{{ post.title }}</h1>
    <img class="center-block" src="{{ post.mainPicture }}">
    <div>{{ post.text }}</div>
    <div class="bg-info">

        {% if post.author.smallAvatar is not null %}
            <img src="{{ post.author.smallAvatar }}">
        {% endif %}
        Author: {{ post.author.name }}
    </div>
    <div class="comments-container">
        <h2 class="bg-success">
            Comments:
        </h2>
        <div class="comment-form">{{ render(controller('AppBundle:Comment:new', {'slug': post.slug})) }}
        </div>

        {% if comments is not empty %}
            {% for comment in comments %}
                <h4 class="bg-warning">{{ comment.commentAuthor }}({{ comment.createdAt|date('d-m-Y') }}):</h4>
                <p>
                    {{ comment.text }}
                </p>
            {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}