
{% for post in posts %}
    <tr class="posts">
        <td class="bg-info">
            {{ post.id }}
        </td>
        <td>
            {% if post.webPath is not null %}
                <img src="{{ post.webPath | imagine_filter('small_thumb') }}" alt="image">
            {% endif %}

        </td>
        <td>
            {{ post.title }}

        </td>
        <td>
            <span class="text-primary">{{ post.author.name }}</span>
        </td>
        <td>
            <span class="text-primary">{{ post.createdAt|date('d M Y') }} at {{ post.createdAt|date('H:m') }}</span>
        </td>
        <td>
            {% if post.updatedAt is not null %}
                <span class="text-primary">{{ post.updatedAt|date('d M Y') }}</span>
            {% endif %}
        </td>
        <td><a href="{{ path('edit_post', {'id': post.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a> </td>
        <td>
            {{ form_start(deleteForms[post.id], {attr : {onsubmit: 'return confirm("Do you really want to delete?");' }}) }}
            {{ form_widget(deleteForms[post.id].submit) }}
            {{ form_end(deleteForms[post.id]) }}
        </td>
    </tr>
{% endfor %}

{% if nextPageUrl %}
    <div class="pagination" style="display: none">
        <span class="next-page">
            <a href="{{ nextPageUrl }}">&gt;</a>
        </span>
    </div>
{% endif %}