{% extends 'base.html.twig' %}
{% block body %}
    <div class="content-container center-block">
        <div class="clearfix">
            <div class="pull-left center-block homepage-body-container img-rounded">
                {% for post in posts %}
                    <div class="post-preview-container center-block">
                        <a href="{{ path('show_post', {'slug': post.slug}) }}">
                            <h3 class="h3 text-left">{{ post.title }}</h3>
                        </a>
                        <div class="clearfix">
                            <div class="pull-left">
                                {% if post.webPath is not null %}
                                    <img src="{{ post.webPath | imagine_filter('my_thumb') }}" alt="image">
                                {% endif %}

                            </div>
                            <div class="pull-right post-preview">

                                {{ post.text|length > 600 ? post.text|slice(0, 600) ~ '...' :post.text }}
                            </div>
                        </div>
                        <p>
                            {% if post.author.smallAvatar is not null %}
                                <img src="{{ post.author.smallAvatar }}">
                            {% endif %}

                            Author: {{ post.author.name }}
                        </p>

                        <p class="text-right" style="margin-bottom: 30px">
                            Posted at: {{ post.createdAt|date('d M Y') }}
                        </p>
                    </div>

                {% endfor %}
            </div>
            <div id="homepage-sidebar" class="pull-left img-rounded">

                    {% if last_comments is not empty %}
                <div id="last-comments-container">
                    <h3>Last comments:</h3>
                        {% for comment in last_comments %}
                            <h5>
                                {{ comment.commentAuthor }} ({{ comment.createdAt|date('d-m-Y') }})
                            </h5>
                            <a href="{{ path('show_post', {'slug': comment.post.slug}) }}">
                                {{ comment.text|length > 80 ? comment.text|slice(0, 80) ~ '...' :comment.text }}
                            </a>

                        {% endfor %}
                </div>
                    {% endif %}
                <div id="tag-cloud" class="bg-info">

                    {% for key,tag in tag_cloud %}
                        <a href="{{ path('show_tag', {'slug': tag.slug}) }}">
                            <span style="font-size: {{ tag.font }}px">{{ key }}</span>
                        </a>

                    {% endfor %}
                </div>
                <div>
                    {% if top_posts %}
                        <h3>Top 5 posts:</h3>
                        {% for post in top_posts %}
                            <p>
                                <a href="{{ path('show_post', {'slug': post.0.slug}) }}">
                                    {{ post.0.title }} (rating: {{ post.rating|number_format(2, '.', ',') }})
                                </a>

                            </p>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>



{% endblock %}