{% for post in posts %}

    <div class="blog-article">
        {#

        #}
        <h3 class="h3 text-left post-title">
            <a href="{{ path('show_post', {'slug': post.slug}) }}">
                {{ post.title }}
            </a>

            <div class="pull-right rating-container rating-gly-star" data-content="">
                <div class="rating-stars" style="width: {{ postRating(post) * 20 }}%" data-content=""></div>
            </div>

        </h3>

        {% if post.author.smallAvatar is not null %}
            <img src="{{ post.author.smallAvatar }}" class="img-circle">
        {% endif %}
        Author:
        <a href="{{ path('show_author_posts', {'slug': post.author.slug}) }}">
            <span class="author-name">{{ post.author.name }}</span>
        </a>
        <span class="pull-right">
            <i class="glyphicon glyphicon-time"></i> {{ post.createdAt|date('d M Y') }}
        </span>


            <div class="col-md-7" style="padding-top: 25px">
                {% if post.webPath is not null %}
                    <img src="{{ post.webPath | imagine_filter('my_thumb') }}" alt="image" class="img-rounded" style="display: block">
                {% endif %}
            </div>
            <div class=" post-preview col-md-5">

                {{ post.text|slice(0, 320)|raw }}...

                <div class="read-more pull-right">
                    <a href="{{ path('show_post', { 'slug': post.slug }) }}">
                        Read more <i class="glyphicon glyphicon-arrow-right"></i>
                    </a>
                </div>
            </div>
        <div class="clearfix img-rounded" style="padding: 15px">
        </div>


    </div>
{% endfor %}
{% if nextPageUrl %}
    <div class="pagination" style="display: none">
        <span class="next-page">
            <a href="{{ nextPageUrl }}">&gt;</a>
        </span>
    </div>
{% endif %}