<div class="img-rounded border-left" id="top-posts">
    {% if topPosts() %}
        <h4 class="sidebar-block-header text-center"><i class="glyphicon glyphicon-thumbs-up"></i> Top 5 </h4>
        {% for post in topPosts() %}
            <div class="sidebar-top-post-container">
                <div>
                    <span style="font-weight: bold;">{{ post.0.title }}</span><br>
                    <div class="rating-container rating-gly-star" data-content="">
                        <div class="rating-stars" style="width: {{ postRating(post.0) * 20 }}%"
                             data-content="">
                        </div>
                    </div>({{ postRating(post.0)|number_format(2) }})
                    <br>
                    <a href="{{ path('show_post', {'slug': post.0.slug}) }}">




                        {% if post.0.webPath is not null %}
                            <img src="{{ post.0.webPath | imagine_filter('small_thumb') }}" alt="image"
                                 class="img-rounded">
                        {% endif %}
                    </a>

                    <div class="pull-right" style="width: 150px; padding: 5px; font-size: 18px">

                        {#
                        {{ post.0.text|slice(0, 30)|raw }}...
                        #}
                        <i class="glyphicon glyphicon-time"></i>
                        {{ post.0.createdAt|date('d M Y') }}<br>
                        <i class="glyphicon glyphicon-comment"></i>
                        {{ post.0.comments|length }}<br>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        {{ countCommentsWithRating(post.0) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <br>
</div>

{% if lastComments() is not empty %}
    <h4 class="sidebar-block-header text-center"><i class="glyphicon glyphicon-comment"></i> Last comments</h4>
    <div id="last-comments" class="img-rounded">
        {% for comment in lastComments() %}
            <h6>
                {{ comment.commentAuthor }} ({{ comment.createdAt|date('d-m-Y') }})
            </h6>
            <a href="{{ path('show_post', {'slug': comment.post.slug}) }}">
                {{ comment.text|length > 50 ? comment.text|slice(0, 50) ~ '...' :comment.text }}
            </a>

        {% endfor %}
    </div>
    <br>
{% endif %}
<div id="tag-cloud">

    {% for key,tag in tagCloud(allTags()) %}
        <a class="tagcloud-a" href="{{ path('show_tag', {'slug': tag.slug}) }}">
            <span style="font-size: {{ tag.font }}px; color: {{ tag.color }}">  {{ key }}</span>
        </a>

    {% endfor %}
</div>

